%h1== Projects #{link_to 'Add Project +', new_project_path, :class => "button add_button"}
%br

%table.projects
  %tr
    %th Code
    %th Name
    %th Project Type
    %th Enabled?
    %th Last Status
    %th Last Edit
    %th Webhooks
    %th Actions
    %th
  - @projects.each do |project|
    %tr{:class => cycle("odd", "even"), :id => "project-#{project.id}"}
      %td= h project.code
      %td= h project.name
      %td
        = content_tag 'span', t("project_types.#{project.class.name.underscore}"), :title=>"#{project.feed_url}#{project.has_auth? ? ' (under auth)' : ''}"
        = image_tag("icons/lock.png", :style => "position:relative; top: 3px;") if project.has_auth?
      %td{:style => "text-align: center;"}
        - if project.enabled?
          ✓
        - else
          %span{:style => "color: #AA1224;"} ✕
        %td
          = project_last_status(project)
      %td.age= project.updated_at.present? ? time_ago_in_words(project.updated_at) : "N/A"
      %td.webhooks= project.webhooks_enabled ? "✓" : "x"
      %td.actions
        = link_to 'Edit', edit_project_path(project), :class => "button"
      %td.actions
        = link_to 'Delete', project_path(project), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class =>"button"
